.layout {
  main {
    margin: 40px 4%;

    .page_name {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 40px;
    }
  }

  @media (max-width: 1024px) {
    main {
      margin: 30px 3%;
    }
  }

  @media (max-width: 768px) {
    main {
      margin: 20px 2%;

      .page_name {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }
    }
  }

  @media (max-width: 480px) {
    main {
      margin: 15px 4%;

      .page_name {
        font-size: 1.25rem;
        margin-bottom: 20px;
      }
    }
  }
}