.appeal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  .category {
    font-size: 24px;
    font-weight: 550;
  }

  .tag {
    width: 100px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
  }
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .item {
    display: flex;
    align-items: center;
    column-gap: 8px;

    span {
      &:first-child {
        font-weight: 550;
      }
    }
  }
}

.description {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;

  span {
    &:first-child {
      font-size: 16px;
      font-weight: 550;
    }
  }
}