.filter {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
}

.filter > :first-child {
  justify-self: start;
}

.filter > :nth-child(2) {
  justify-self: center;
  width: 360px;
}

@media (max-width: 1024px) {
  .filter {
    grid-template-columns: 1fr;
  }

  .filter > * {
    justify-self: stretch;
    width: 100%;
  }
}