.header {
  width: 100%;
  height: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;

  .header_items {
    margin: 0 4%;
    display: flex;
    align-items: center;
    column-gap: 40px;

    .logo {
      font-size: 32px;
      font-weight: 600;
      user-select: none;
    }

    nav {
      display: flex;
      column-gap: 26px;

      a {
        position: relative;
        color: black;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background: transparent;
          transition: background 0.3s;
        }

        &:hover {
          color: #1f72ff;

          &::after {
            background: #1f72ff;
          }
        }

        &.active_link {
          color: #1f72ff;

          &::after {
            background: #1f72ff;
          }
        }
      }
    }
  }
}